name: Publish docs

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:

  build-and-publish-docs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r docs/requirements.txt
        python setup.py develop

    - name: Build Sphinx documentation
      run: |
        sphinx-build -b html docs/source/ new-doc

    - name: Checkout gh-pages
      run: |
        git fetch origin gh-pages
        git checkout gh-pages

    - name: Update docs
      run: |
        git rm -rf doc
        mv new-doc doc

    - name: Commit new docs
      uses: EndBug/add-and-commit@v7
      with:
        default_author: github_actions
        message: 'doc update'
        add: 'doc'
